/Assembly-CSharp.csproj
Temp/FSTimeGet-1ce7511fe2bfba84bbb07d6a58e19147
Temp/FSTimeGet-5a70c8e302db72a4982568f820550416
Temp/FSTimeGet-9fe20372ce63e7844990214ff6767209
Temp/UnityLockfile
Temp/workerlic
Temp/__Backupscenes/0.backup
Temp/obj/Debug/Assembly-CSharp/.NETStandard,Version=v2.1.AssemblyAttributes.cs
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.assets.cache
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.csproj.AssemblyReference.cache
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.csproj.nuget.dgspec.json
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.csproj.nuget.g.props
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.csproj.nuget.g.targets
Temp/obj/Debug/Assembly-CSharp/Assembly-CSharp.GeneratedMSBuildEditorConfig.editorconfig
Temp/obj/Debug/Assembly-CSharp/project.assets.json
Temp/obj/Debug/Assembly-CSharp/project.nuget.cache
/Logs
*.log
/Temp
